:root {
  --color-primary-brand: #4d5ae5;
  --color-pressed-state: #404bbf;
  --color-dark: #2e2f42;
  --color-success: #31d0aa;
  --color-text: #434455;
  --color-subtitle-text: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light-mode-background: #f4f4fd;
  --color-overlay: #2e2f42;
  --color-hero-background: #2e2f42;
  --color-hero-title: #ffffff;
  --color-team-card-background: #ffffff;
  --color-modal-background: #fcfcfc;
}
/* **************************************************** */
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
  background-color: var(--color-team-card-background);
}

footer {
  background-color: var(--color-overlay);
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style-type: none;
}

/* ***************************************************** */

.logo-bgn {
  color: var(--color-primary-brand);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-end {
  color: var(--color-dark);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.navigation-item {
  color: var(--color-dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation-item:hover,
.navigation-item:focus,
.address-item:hover,
.address-item:focus {
  color: var(--color-pressed-state);
}

/* ******************************************************* */

.hero {
  background-color: var(--color-hero-background);
}

.hero-title {
  color: var(--color-hero-title);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-btn {
  cursor: pointer;
  color: var(--color-team-card-background);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: var(--color-primary-brand);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-pressed-state);
}

/* ******************************************************* */
/* .advantages {

} */

.advantages-subtitle {
  color: var(--color-dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.advantages-text {
  color: var(--color-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ******************************************************* */
/* .activity {
} */

.activity-title {
  color: var(--color-dark);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* ******************************************************* */

.team {
  background-color: var(--color-light-mode-background);
}

.team-list-item {
  background-color: var(--color-team-card-background);
}

.team-title {
  color: var(--color-dark);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-subtitle {
  color: var(--color-dark);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  color: var(--color-text);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ******************************************************* */

.logo-end-ftr {
  color: var(--color-light-mode-background);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: var(--color-light-mode-background);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ************************************************************** */

.portfolio-filtr-btn {
  color: var(--color-primary-brand);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--color-accent);
  background: var(--color-light-mode-background);
  cursor: pointer;
}

.portfolio-filtr-btn:hover,
.portfolio-filtr-btn:focus {
  color: var(--color-hero-title);
  background-color: var(--color-pressed-state);
}

.portfolio-cards-title {
  color: var(--color-dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-cards-text {
  color: var(--color-text);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
